@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body {
    background-color: #E9E4D4;
}
.menu-cabecalho {
    list-style:none;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

p {
    text-align: justify;
    margin: 2%;
    font-family: 'Josefin Slab', serif;
    font-size: larger;
}
h1 {
    font-family: 'Philosopher', sans-serif;
}
img {
    margin: 2%;  
}
.img-logo{
width: 45%;
margin: 0%;

}

.img {
    width: 30%;
}

.img_menu {
    width: 70%;
}
.img_tirinha {
    width: 45%;
    margin: 0%;
}
.logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2%;
    margin: 0;
}

.item-data {
    margin: 0;
    font-size: small;
}
.img_in_3d{
    height: 10%;
}

main {

    padding: 2%;
}
.divisao {
    display: flex;
    justify-content: space-around;

}
hr {
    margin: 1%;
}
section{
    margin-inline: 2% ;
}
.text_lit {
    text-align: justify;
    width: 80%;
    font-size: large;
}
.sec_one {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.sec_two {
    text-align: justify;
    font-size: large;
    width: 50%;
}

.noticia {
    display: flex;
    flex-direction: row;
}

.text1 {
    margin-inline: 2% ;
    width: 50%;
}
.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}